.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fcfbfb;
  font-family: "Montserrat", sans-serif;
}

.checkout-card {
  background: rgb(250, 252, 251);
  width: 100%;
  border-bottom: 1px solid black;
}

/* Product row */
.product-row {
  }

.product-image {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 0;
}

.rows{
    display: flex;
    /*gap: 155%;*/
    gap: 200px;
}

.product-name {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;


}

.product-price {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 6px 0;
  /*justify-self: flex-end;*/
}

.quantity-text {
  color: #555;
  font-size: 14px;
}

.divider {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 20px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
  color: #222;
}

.row.total strong {
  font-size: 16px;
}

.muted {
  color: #888;
  font-size: 14px;
}

.checkout-btn {
  width: 90%;
  padding: 14px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.checkout-btn:hover {
  background: #222;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .checkout-card {
    width: 95%;
    padding: 20px;
  }

  .rows{
    
  }
  .product-row {
    
    /*flex-direction: row;*/
    /*gap: 40px;*/
    /*align-items: flex-start;
    display: flex;*/
  }

  .product-image {
    width: 200PX;
    height: auto;
  }
  .product-info{
    /*margin-top: 60px;*/
  }
  .product-price{
    /*margin-left: 46px;*/
  }
}

@media (max-width: 480px) {
  .checkout-card {
    padding: 18px;
  }

  .product-name {
    font-size: 16px;
  }

  .checkout-btn {
    font-size: 14px;
  }
}

